body {
	font-family: verdana, arial, sans-serif;
	margin: 0;
}

.header {
	margin: 0;
	background: #071629;
}

.header h1, .header p {
	display: none;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0 0 3px 10px;
	border-bottom: 1px dashed #E4E4E5;
	overflow: auto;
	background-color: #fff;
}

.menu li {
	float: left;
	text-align: center;
	margin: 0 15px 0 15px;
}

.menu li.first { margin-left: 0; }

.menu li a {
	text-transform: uppercase;
	font: 11px arial, helvetica, verdana, sans-serif;
	text-decoration: none;
	color: #071629;
}

.menu li a:hover {
	text-decoration: underline;
}

#content {
	margin: 15px;
}